<div>
    <p></p>
    <h1>Развлекательный портал на SpringBoot</h1>
    <p></p>
    <h3>Наши мемы</h3>
    <p></p>
    <table class="table table-hover">
        <thead>
        <tr>
            <td>ID</td>
            <td>Mems</td>
            <td>Category</td>
            <td>Likes</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="m in mems">
            <td>{{m.id}}</td>
            <td>{{m.content}}</td>
            <td>{{m.title}}</td>
            <td>
                <button type="button" class="btn btn-primary btn-sm" ng-show="isUserLoggedIn()"
                        ng-click="decrementLike(m.id)">{{m.likes}}
                </button>
                <label ng-show="!isUserLoggedIn()">{{m.likes}}</label>
            </td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item" ng-repeat="pageIndex in pagesList">
                <button class="page-link" ng-click="fillTable(pageIndex)">{{pageIndex}}</button>
            </li>
        </ul>
    </nav>
</div>