<div>
    <p></p>
    <h1>Развлекательный портал на SpringBoot</h1>
    <p></p>
    <h3>Наши мемы</h3>
    <p></p>
    <table class="table table-hover">
        <thead>
        <tr>
            <td>ID</td>
            <td>Mems</td>
            <td>Category</td>
            <td>Approve</td>
            <td>Delete</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="m in mems">
            <td>{{m.id}}</td>
            <td>{{m.content}}</td>
            <td>{{m.title}}</td>
            <td>
                <button type="button" class="btn btn-primary btn-sm" ng-click="moder(m.id)">Approve</button>
            </td>
            <td>
                <button type="button" class="btn btn-primary btn-sm" ng-click="deleteContents(m.id)">Delete</button>
            </td>
        </tr>
        </tbody>
        </tr>
        </tbody>
    </table>
    <p></p>

</div>
</body>
</html>