<!doctype html>

<html ng-app="portal">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="index.js"></script>
</head>

<body>

<div class="container" ng-controller="contentController">
    <p></p>
    <h1>Развлекательный портал на SpringBoot</h1>
    <p></p>
    <h3>Наши мемы</h3>
    <p></p>
    <table class="table table-hover">
        <thead>
        <tr>
            <td>ID</td>
            <td>Mems</td>
            <td>Category</td>
            <td>Likes</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="m in mems">
            <td>{{m.id}}</td>
            <td>{{m.content}}</td>
            <td>{{m.title}}</td>
            <td>
                <button type="button" class="btn btn-primary btn-sm" ng-click="incrementLike(m.id)">+</button>


            </td>

        </tr>
        </tbody>
    </table>
    <p></p>
    <h3>На модерацию</h3>
    <p></p>
    <table class="table table-hover">
        <thead>
        <tr>
            <td>ID</td>
            <td>Mems</td>
            <td>Category</td>
            <td>moderate</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="c in cont">
            <td>{{c.id}}</td>
            <td>{{c.content}}</td>
            <td>{{c.title}}</td>
            <td>
                <button type="button" class="btn btn-primary btn-sm" ng-click="moderate(c.id)">+</button>


            </td>

        </tr>
        </tbody>
    </table>
    <p></p>
</div>
</body>
</html>